.header{
    height: 55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color:rgb(213, 213, 213);
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
    z-index:100;
   
}
.left-section{
    display:flex;
    align-items:center;
}
.hamburger-menu{
    height:25px;
    margin-left:20px;
    margin-right:30px;
}
.yt-logo{
    height:20px;
}
.middle-section{
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
    display:flex;
    align-items:center;
}
.search{
    flex:1;
    height:38px;
    border: 1px solid rgb(207, 205, 205);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.15);
    padding-left:12px;
    padding-top:2px;
    font-size:16px;
    border-radius:2px;
    width:0;
}
.search::placeholder{
    font-size:16px;
}
.search-button{
    width:62px;
    height:38px;
    background-color:rgb(244, 243, 243);
    border-style:solid;
    border-color:rgb(221, 221, 221);
    border-width:1px;
    margin-left:-1px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.yt-apps-icon-container,
.notifications {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.yt-apps-icon-container .tooltip,
.notifications .tooltip {
    
    position:absolute;
    background-color:grey;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:8px;
    padding-left:8px;
    font-size:12px;
    border-radius:2px;
    bottom:-30px;
    opacity:0;
    pointer-events:none;
    transition: opacity 0.15s;
    white-space:nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.yt-apps-icon-container:hover .tooltip,
.notifications:hover .tooltip{
    opacity:1;
}
.search-icon{
    height:25px;
}
.voice-search-button{
    height:38px;
    border-style:none;
    margin-left:15px;
    border-radius:20px;
    background-color: rgb(247, 247, 247);
}
.voice-search-icon{
    height:24px;

}
.right-section{
    width:200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right:20px;
    flex-shrink: 0;
}

.upload-icon{
    height:24px;
}
.yt-apps-icon{
    height:24px;
}
.notification-icon{
    height:24px;
}
.current-profile-icon{
    height:32px;
    border-style:none;
    border-radius:20px;
}
.notifications{
    position:relative;
}
.notification-number{
    position:absolute;
    background-color:rgb(180, 4, 4);
    color:white;
    padding-top:2px;
    padding-right:5px;
    padding-bottom:2px;
    padding-left:5px;
    border-radius:10px;
    font-size:11px;
    top:-2px;
    right:-5px;
}