.sidebar{
    position:fixed;
    top:55px;
    left:0;
    bottom:0;
    background-color:white;
    width:72px;
    z-index:101;
}
.sidebar-link{
    height:74px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover{
    background-color:rgb(237, 237, 237);
}
.sidebar-link img{
   height:24px;
   margin-bottom:7px;
}
.sidebar-link div{
    font-size:10px;

}
