.thumbnail {
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position:relative;
}
.duration{
    background-color:black;
    color:white;
    position:absolute;
    bottom:10px;
    right:5px;
    font-size:12px;
    font-weight:500;
    padding:4px;
    border-radius:2px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}


.video-info-grid {
    grid-template-columns: 50px 1fr;
    display: grid;

}

.profile-picture {
    width: 36px;
    border-radius: 30px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}